.create-main {
    text-align: center;
    margin-top: 150px;
}

.create-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: stretch;
}

.create-form-individual-item {
    display: flex;
    gap: 10px;
    margin: auto;
    align-items: baseline;
}

.amount-error-message {
    color: red;
}

.create-form-submit-button {
    margin: auto;
}

button:disabled {
    opacity: 50%;
}
