.create-main {
    text-align: center;
    margin-top: 150px;
}

.create-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: stretch;
}

.create-form-individual-item {
    display: flex;
    gap: 10px;
    width: 16%;
    margin: auto;
    align-items: baseline;
}

.amount-error-message {
    color: red;
}

.form-submit-button {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
    background-color: #0d6efd;
    color: white;
    size: 32px;
    border-width: 1px;
}
