.create-main {
    text-align: center;
    margin-top: 150px;
}

.create-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: stretch;
}

.create-form-individual-item {
    display: flex;
    gap: 10px;
    width: 16%;
    margin: auto;
    align-items: baseline;
}

.amount-error-message {
    color: red;
}

.form-submit-button {
    margin: auto;
    width: 5%;
}
