.signup-main {
    text-align: center;
    margin-top: 150px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: stretch;
}

.signup-form-individual-item {
    display: flex;
    gap: 10px;
    margin: auto;
    align-items: baseline;
}

.signup-form-multi-item {
    display: flex;
    gap: 10px;
    margin-left: 671px;
    align-items: flex-end;
}